// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Define variables for your color scheme

$bleu-fonce: #1C3043;
$bleu-moyen: #29687B;
$bleu-clair:#30C3D3;

$jaune-fonce: #F1AE00;
$jaune-claire:#FFEB59;

$degrade: linear-gradient(to right bottom, #1c3043, #1f3a4e, #224459, #244e64, #26596e, #28657a, #297186, #2b7e92, #2c8fa3, #2da0b3, #2eb1c3, #30c3d3);
