.boat-page {
  overflow-x: hidden; /* Supprime le défilement horizontal */

  .boat-header {
    background-color: $bleu-fonce;
    color: $background-white;
    padding: 30px 15px;

    h1 {
      color: $background-white;
    }

    p.text-mutedport {
      color: $jaune-fonce;
    }

    .img-fluid {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      border: 1px solid $bleu-fonce;
      border-radius: 10px;
      margin-bottom: 20px;
    }

    .details-card {
      background-color: #fff;
      border: 1px solid $bleu-fonce;
      color: $bleu-moyen;
      padding: 20px;
      border-radius: 10px;

      p {
        font-size: 1rem;
        color: $bleu-fonce;
      }

      .btn-success {
        background-color: $bleu-clair;
        border-color: $bleu-moyen;

        &:hover {
          background-color: $bleu-moyen;
          border-color: $bleu-clair;
        }
      }
    }
  }

  /* Section Booking */
  .booking-card {
    background-color: $bleu-clair;
    border: 1px solid $bleu-moyen;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;

    h4 {
      color: $bleu-fonce;
      margin-bottom: 15px;
    }

    #price {
      .price-day {
        font-style: italic;
        font-size: 0.8rem; /* Taille réduite */
        color: inherit; /* Même couleur que le prix */
        margin-top: -5px; /* Espacement ajusté */
      }
    }

    .form-control {
      border: 1px solid $bleu-moyen;
      height: 50px;
      padding: 10px 15px;

      &::placeholder {
        font-size: 15px;
        opacity: 0.6;
      }

      &:focus {
        box-shadow: 0 0 5px $bleu-moyen;
      }
    }

    .resa {
      padding-bottom: 25px;
    }

    .btn-primary {
      background-color: $bleu-moyen;
      &:hover {
        background-color: $jaune-fonce;
        color: $bleu-moyen;
      }
    }
  }

  /* Section Avis et Formulaire */
  .comreviews {
    margin-top: 40px;
    margin-bottom: 60px;

    .review-card {
      background-color: #fff;
      border: 1px solid $bleu-moyen;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

      p {
        margin-bottom: 10px;
        font-size: 1rem;
      }

      strong {
        color: $bleu-moyen;
      }

      em {
        font-size: 0.9rem;
        color: grey;
      }
    }

    form {
      background-color: #fff;
      border: 1px solid $bleu-moyen;
      border-radius: 10px;
      padding: 20px;

      .review-textarea {
        border: 1px solid $bleu-moyen;
        height: 150px; /* Ajuste la hauteur spécifique pour la zone de texte */
        padding: 10px 15px;
        resize: none; /* Empêche le redimensionnement */

        &::placeholder {
          font-size: 15px; /* Taille du texte des placeholders */
          color: $bleu-moyen; /* Ajuste la couleur */
          opacity: 0.6; /* Transparence */
        }

        &:focus {
          box-shadow: 0 0 5px $bleu-moyen; /* Ajoute un effet de focus */
        }
      }

      .rating-input {
        width: 100%; /* Note moins large */
        margin-bottom: 10px; /* Espacement avant le bouton */
      }

      .btn-small {
        width: auto; /* Bouton plus petit */
        padding: 5px 15px;

        background-color: $bleu-fonce; /* Couleur par défaut */
        border: 1px solid $bleu-fonce;
        color: #fff;

        &:hover {
          border: 1px solid $bleu-fonce;
          background-color: $bleu-clair; /* Couleur au survol */
          color: #fff;
        }
      }

      .form-row {
        display: flex;
        justify-content: space-between;

        .form-group {
          flex: 1;

          &.flex-grow-1 {
            flex: 4; /* La zone texte prend 80% de l'espace */
          }

          &.d-flex {
            flex: 1; /* La partie note et bouton prend 20% */
          }
        }
      }
    }
  }

  /* Responsiveness */
  @media (max-width: 768px) {
    .details-card,
    .booking-card {
      margin-bottom: 20px;
    }

    .form-row {
      flex-direction: column;

      .form-group {
        margin-bottom: 15px;
      }
    }
  }
}
