.boat-page {
  overflow-x: hidden; /* Supprime le défilement horizontal */

  .boat-header {
    background-color: $bleu-fonce;
    color: $background-white;
    padding: 30px 15px;

    h1 {
      color: $background-white;
    }

    p.text-mutedport {
      color: $jaune-fonce;
    }

    .img-fluid {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      border: 1px solid $bleu-fonce;
      border-radius: 10px;
      margin-bottom: 20px;
    }

    .details-card {
      background-color: #fff;
      border: 1px solid $bleu-fonce;
      color: $bleu-moyen;
      padding: 20px;
      border-radius: 10px;

      p {
        font-size: 1rem;
        color: $bleu-fonce;
      }

      .btn-success {
        background-color: $bleu-clair;
        border-color: $bleu-moyen;

        &:hover {
          background-color: $bleu-moyen;
          border-color: $bleu-clair;
        }
      }
    }
  }

  .comreviews {
    margin-top: 40px;
    margin-bottom: 60px;

    .review-card {
      background-color: #fff;
      border: 1px solid $bleu-moyen;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

      p {
        margin-bottom: 10px;
        font-size: 1rem;
      }

      strong {
        color: $bleu-moyen;
      }

      em {
        font-size: 0.9rem;
        color: grey;
      }
    }

    form {
      background-color: #fff;
      border: 1px solid $bleu-moyen;
      border-radius: 10px;
      padding: 20px;

      .review-textarea {
        height: 300px; /* Fixe la hauteur */
        width: 650px;
        resize: none; /* Empêche le redimensionnement */
      }

      .rating-input {
        width: 100%; /* Note moins large */
        margin-bottom: 10px; /* Espacement avant le bouton */
      }

      .btn-small {
        width: auto; /* Bouton plus petit */
        padding: 5px 15px; /* Ajuste la taille */
      }

      .form-row {
        display: flex;
        justify-content: space-between;

        .form-group {
          flex: 1;

          &.flex-grow-1 {
            flex: 4; /* La zone texte prend 80% de l'espace */
          }

          &.d-flex {
            flex: 1; /* La partie note et bouton prend 20% */
          }
        }
      }
    }
  }
}
