// $bleu-fonce: #1C3043;
// $bleu-moyen: #29687B;
// $bleu-clair:#30C3D3;

// $jaune-fonce: #F1AE00;
// $jaune-claire:#FFEB59;
// $background-white: #f0f0f0;
// $degrade: linear-gradient(to right bottom, #1c3043, #1f3a4e, #224459, #244e64, #26596e, #28657a, #297186, #2b7e92, #2c8fa3, #2da0b3, #2eb1c3, #30c3d3);


// FOOTER Cyrill_test
footer {
  background-color: $background-white;
  color: $bleu-fonce;

  .footer-logo {
    height: 80px;
    width: auto;
  }

  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: $jaune-claire;
    }
  }

  i {
    transition: color 0.3s ease;
    &:hover {
      color: $jaune-claire;
    }
  }
}
