$bleu-fonce: #1C3043;
$bleu-moyen: #29687B;
$bleu-clair:#30C3D3;

$jaune-fonce: #F1AE00;
$jaune-claire:#FFEB59;
$background-white: #f0f0f0;
$degrade: linear-gradient(to right bottom, #1c3043, #1f3a4e, #224459, #244e64, #26596e, #28657a, #297186, #2b7e92, #2c8fa3, #2da0b3, #2eb1c3, #30c3d3);

footer {
  background-color: $bleu-fonce;
  color: $background-white;
  padding: 5px 0 10px 0;

  .mb-3 {
    margin-bottom: 0.5rem !important;
  }

  .navbar-brand {
    height: 60px;
    width: auto;
    margin: 0;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.04);
      filter: brightness(1.1) drop-shadow(0 0 1px $background-white);
    }
  }

  a {
    text-decoration: none;
    color: $background-white;
    &:hover {
      color: $jaune-claire;
    }
  }

  .mail {
    color: $background-white;
  }

  p {
    color: $background-white;
  }

  i {
    transition: all 0.3s ease;
    &:hover {
      color: $jaune-claire;
      transform: scale(1.1);
    }
  }

  .phone {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 7px;
  }


  .col-md-4.text-end {
    a.text-white {
      color: $background-white !important;

      &:hover {
        color: $jaune-claire !important;
      }
    }
  }
}
