.review-card {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 15px;

  p {
    margin-bottom: 10px;
    font-size: 1rem;
  }

  strong {
    color: #29687B;
  }

  em {
    font-size: 0.9rem;
    color: #666;
  }
}
