  <div class="search-bar-container">
    <div class="container">
      <form action="/boats" method="get">
        <div class="input-group">
          <input
            type="text"
            class="form-control search-bar"
            placeholder="Search for a Peer / a Boat..."
            name="query"
            value="<%= params[:query] %>">
          <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>

          </button>
        </div>
      </form>
    </div>
  </div>
