.container-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-items: center; /* Centre chaque carte individuellement */
  margin: 0 auto; /* Centre la grille globalement */
  padding: 0 4rem;
  margin-bottom: 4em;

  @media (max-width: 1500px) {
    grid-template-columns: repeat(3, 1fr); /* Passe à 2 cartes par ligne */
    padding: 0 ;
  }

  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr); /* Passe à 2 cartes par ligne */
    padding: 0 ;
  }

  @media (max-width: 700px) {
    grid-template-columns: 1fr; /* Passe à 1 carte par ligne */
    padding: 0 ;
  }
}

.card {
  border: none;
  border-radius: 10px;
  margin: 0; /* Supprime la marge supplémentaire */
  width: 360px;
  height: 270px;
  box-shadow: 0 2px 4px rgba(52, 152, 219, 0.2);
  transition: all 0.3s ease;

  @media (max-width: 700px) {
    width: 75%;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px $jaune-fonce;
  }

  .container-card a {
    text-decoration: none !important;
    color: inherit !important;
  }

  .container-card a:hover {
    text-decoration: none !important;
  }



  ul {
    list-style: none; /* Supprime les points des listes */
    padding: 0; /* Supprime le padding par défaut */
    margin: 0; /* Supprime la marge par défaut */

  }

  li {
    list-style: none; /* Enlève les points des listes */
    padding: 0;
    margin: 0;
  }

  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0 ;
  }

  h1 {
    margin: 7px 0 0 7px;
    font-size: 22px;
    color: $bleu-moyen;
  }

  h2 {
    border: 1px solid;
    border-color: $bleu-moyen;
    background-color: $bleu-moyen;
    border-radius: 5px;
    padding: 5px;
    color: $jaune-fonce;
    font-size: 17px;
    position: absolute;
    bottom: 10px; /* 10px du bas de la carte */
    right: 10px; /* 10px du bord droit de la carte */
    margin: 0; /* Élimine tout espace supplémentaire */
  }

  h3{
    font-size: 14px;
    color: grey;
    position: absolute;
    top: 160px;
     right: 10px;
  }

  p{
    font-size: 13px;
    margin: 5px 7px 7px 7px;
  }

}



#banner img {
  width: 100%;
  box-shadow: 0 2px 4px rgba(90, 90, 90, 0.4);
  margin-bottom: 2em;
}
.search-index {
  /* Exemple de style pour centrer la barre de recherche */
  text-align: center!important;
  margin-top: 20px;
}

.search-index input {
  width: 100%;
  max-width: 500px; /* La largeur maximale de la barre de recherche */
  margin: 0 auto; /* Centrer la barre de recherche */
}


.search-bar-container {
  position: absolute;
  top: 20%; /* Positionne verticalement au milieu */
  left: 33%; /* Positionne horizontalement au milieu */
  transform: translate(-50%, -50%); /* Ajuste pour centrer exactement */
  width: 40%; /* Ajuste la largeur de la barre de recherche */
  z-index: 10; /* Place la barre de recherche au-dessus de l'image */
 ;
}

.search-bar {
  height: 3em!important; /* Ajuste la hauteur de l'input ici */
  border: 1px solid $jaune-fonce;
  border-radius: 20px;
  color: $bleu-moyen;
  margin: 0;
  padding: 0 10px; /* Ajoute un peu de padding pour améliorer l'ergonomie */

  &:focus {
    outline: none; /* Enlève le contour par défaut */
    border-color: $jaune-fonce; /* Maintient la bordure de votre couleur choisie */
    box-shadow: none;
  }
}

.search-bar-container {
  .input-group {
    .btn-outline-success {
      height: 3em; /* Ajuste la hauteur */
      background-color: $jaune-fonce; /* Utilise la couleur définie */
      border: 1px solid $jaune-fonce;
      border-radius: 15px; /* Coins arrondis */
      color: white; /* Couleur du texte */
      padding-left: 15px;
      padding-right: 15px;
      margin-left: 4px; /* Ajuste l'espacement entre le bouton et l'input */

      &:hover {
        background-color: $bleu-fonce; /* Couleur au survol */
        border-color: $bleu-fonce; /* Couleur de la bordure au survol */
      }
    }
  }

}
.search-bar-index {
  .input-group {
    .btn-outline-success {
      height: 3em; /* Ajuste la hauteur */
      background-color: $jaune-fonce; /* Utilise la couleur définie */
      border: 1px solid $jaune-fonce;
      border-radius: 15px; /* Coins arrondis */
      color: white; /* Couleur du texte */
      padding-left: 15px;
      padding-right: 15px;
      margin-left: 4px; /* Ajuste l'espacement entre le bouton et l'input */

      &:hover {
        background-color: $bleu-fonce; /* Couleur au survol */
        border-color: $bleu-fonce; /* Couleur de la bordure au survol */
      }
    }
  }

}


.location-i {
  margin: 25px!important;

  h3 {
    font-size: 20px;
  }
}
