.body-form {
  background-color: $bleu-moyen;
}

.container-form {
  padding: 3rem;
  margin: 0 auto;
}

.form-rent {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  padding: 3% 5% 2% 5%;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);

  input {
    height: 33px;
    border-radius: 10px;
    border-color: $bleu-moyen;

    &:focus {

      border-color: $jaune-fonce;
      box-shadow: 5px 5px 0 $jaune-fonce;
      transition: box-shadow 0.3s ease;

    }
  }

  #boat_content {
    height: 33px;
    border-radius: 10px;
    border-color: $bleu-moyen;
    height: 200%;

    &:focus {

      border-color: $jaune-fonce;
      box-shadow: 5px 5px 0 $jaune-fonce;
      transition: box-shadow 0.3s ease;

    }
  }

  input[type="submit"] {
    background: $bleu-moyen;
    color: $jaune-fonce;
    text-align: center;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;

    &:hover {
      box-shadow: 5px 5px 0 $jaune-fonce;
      transition: box-shadow 0.3s ease;

    }
  }
}


.form-rent label {
  color: $bleu-moyen;  /* Exemple de couleur bleue */
}

.form-grid {
  display: grid; /* Utilisation de CSS Grid */
  grid-template-columns: 1fr 1fr 1fr; /* 3 colonnes de taille égale */
  gap: 2rem; /* Ajoute de l'espace entre les colonnes */

  @media (max-width: 900px) {
    grid-template-columns: 1fr 1fr; /* Pour les écrans plus petits, 2 colonnes */
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr; /* Sur les écrans très petits (ex. mobile), 1 colonne */
  }
}

.left-form,
.right-form,
.content {
  display: flex;
  flex-direction: column; /* Les éléments à l'intérieur sont disposés verticalement */
}

/* Déplacer le contenu en bas uniquement pour les écrans < 600px */
@media (max-width: 900px) {
  .form-grid {
    display: flex;
    flex-direction: column;
  }

  .content {
    margin-top: 20px; /* Espace entre les sections */
    order: 99; /* Place .content à la fin du formulaire */
  }

  #boat_content {
    height: auto; /* Ajuste la hauteur de .content automatiquement */
  }

  /* Rendre les champs de saisie plus larges */
  .form-rent input,
  .form-rent textarea {
    width: 70%; /* Remplir toute la largeur disponible */
    padding: 12px; /* Un peu de padding pour rendre les inputs plus confortables */
    box-sizing: border-box; /* Prendre en compte le padding dans la largeur totale */
  }
}

#boat_content {
  height: 200%;
}

.row.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.simple_form input::placeholder,
.simple_form textarea::placeholder {
  color: $bleu-moyen; /* Remplacez cette couleur par celle que vous souhaitez */
  opacity: 0.5; /* Opacité pleine pour les placeholders */
  font-size: 12px;
}
